* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
}
main {
  display: flex;
  height: 100vh;
}

nav {
  margin-left: auto;
  padding: 18px;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  margin: 10px;
}

.container {
  align-items: left;
}
.items {
  width: 150px;
  height: 50px;
  font-size: 1rem;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px auto;
}
.text {
  flex: 1;
  align-items: left;
}
.testimonial {
  background-color: rgb(251, 224, 228);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  padding: 20px;
}
.special-1 {
  display: flex;
  align-items: flex-end;
}
.brand {
  background-color: pink;
  margin: 0;
  height: 40pxpx;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(255, 114, 137);
}
.options {
  background-color: rgb(251, 224, 228);
}
.sidebuttons {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 200px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
li {
  background-color: pink;
  border-radius: 10px;
  border: none;
  padding: 20px;
  justify-content: space-around;
  margin: 10px;
  display: flex;
}
h1 {
  text-align: center;
}
